.side-container{
display: flex;
flex-direction: column;
margin: 0 auto;
justify-content: space-between;
font-size: 20px;
}

h1{
text-align: center;
}
.harshi-img{
  height: 200px;
  width: 400px;
}

img{
  height: 200px;
  width:150px;
}
.img-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  align-self: center;
}
